<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>HTML Table</h2>

<table>
  <tr>
    <td colspan="2">Computers</td>
  </tr>
  <tr>
    <td colspan="2">Lenovo ThinkPad X1 Carbon Gen 6</td>
  </tr>
  <tr>
    <td>Minimum Set Qty: 8</td>
    <td>Ready to Deploy: 6</td>
  </tr>
  <tr>
    <td colspan="2">Asset's ready to Deploy</td>
  </tr>
  <tr>
    <td colspan="2">
        <ul>
            <li>London SSC - jlksdhflhsf</li>
            <li>London SSC - jlksdhflhsf</li>
            <li>London SSC - jlksdhflhsf</li>
            <li>London SSC - jlksdhflhsf</li>
        </ul>
    </td>
  </tr>
</table>

</body>
</html>
